%title-font {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
%black {
    color: rgba(54, 56, 56, 1);
}
@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}
